<form class="form" action="/search" method="GET">
  <input type="text" placeholder="Starting Address" value="kedzie and milwaukee" name="start_location"/> Chicago, IL <br>
  <input type="text" placeholder="Ending Address" name="end_location" value="351 w hubbard"/> Chicago, IL
  <input type="submit" value="Go">
</form>
