<form class="form" action="/search" method="GET">
  <input type="hidden" name="start_latitude" />
  <input type="hidden" name="start_longitude" />
  <input type="text" placeholder="Starting Address" name="start_location" value="navy pier" /> Chicago, IL <br>
  <input type="text" placeholder="Ending Address" name="end_location" value="sears tower" /> Chicago, IL
  <input type="submit" value="Go">
</form>
