<form class="form" action="/" method="GET">
  <input type="text" placeholder="Starting Address" name="start_location" value="start"/> Chicago, IL
  <input type="text" placeholder="Ending Address" name="end_location" value="end" /> Chicago, IL
  <input type="submit" value="Go">
</form>
