<form class="search-form pure-form" action="/search" method="GET">
  <fieldset class="pure-group">
    <input id="originLatitude" type="hidden" name="start_latitude" value="" />
    <input id="originLongitude" type="hidden" name="start_longitude" value=""/>
    <input id="origin" class="pure-input-1 input-field" type="text" placeholder="Starting point" name="start_location" value="navy pier"/>
    <input id="destination" class="pure-input-1 input-field" type="text" placeholder="Destination" name="end_location" value="1350 w fullerton"/>
    <button type="submit" class="pure-button pure-input-1 go-button ">Go</button>
  </fieldset>
</form>
