<form class="search-form pure-form" action="/search" method="GET">
  <fieldset class="pure-group">
    <input type="hidden" name="start_latitude" value="" />
    <input type="hidden" name="start_longitude" value=""/>
    <input  type="text" placeholder="Starting point" name="start_location" value="4118 N Broadway" />
    <input  type="text" placeholder="Destination" name="end_location" value="351 W Hubbard"/>
    <input type="submit" value="Go" class="pure-button pure-input-1 pure-button-primary">
  </fieldset>
</form>
