<div class="search-form-container">
  <%= render 'form' %>
  <div class="controls-container">
    <%= button_to "Bikes", '/stations', method: "get", id:"bikes", class: "button-xsmall pure-button", form_class: "bikes-form" %>
    <%= button_to "Docks", '/stations', method: "get", id:"docks", class: "button-xsmall pure-button", form_class: "docks-form" %>
    <form><div><button class="button-xsmall pure-button" id="directions">List Directions</button></div></form>
    <a href="#"><i class="nav-caret fa fa-chevron-up"></i></a>
  </div>
  <div class="summary">
      <div class="trip_time"> Total Trip: <span id="trip_time"></span> min</div>
      <div class="biking"><span id="bike"><i class="fa fa-bicycle"></span></i> <span id="biking_time"></span> min <span id="biking_distance"></span> miles </div>
      <div class="start_station">Pickup: <span id="start_station_intersection"></span> <span class="station_data"><span class="start_station_bikes"> </span> bikes</span></div>
      <div class="end_station">Drop-off: <span id="end_station_intersection"></span> <span class="station_data"><span class="end_station_docks"> </span> docks</span></div>
  </div>
  <div class="directions-panel-container">
    <div id="directions-panel-0" class="directions-panel-leg-container"></div>
    <div id="directions-panel-1" class="directions-panel-leg-container"></div>
    <div id="directions-panel-2" class="directions-panel-leg-container"></div>
  </div>
</div>

<div class="zoom_to_current">
  <%= link_to "#", id: "zoom" do %>
  <i class="fa fa-location-arrow"></i>
  <% end %>
</div>

<div id="map-canvas">
</div>

<script>
$(document).ready(function () {
  window.map =  new Map();
  map.bindEvents();
  map.getLocation();
});

$(document).ready(function() {
  $('.directions-panel-container').hide();
  $('#directions').hide();
  $('.search-form').on('submit', function(event) {
    event.preventDefault();
    $('#directions').show();
  });
  $('#directions').on('click', function(event) {
    event.preventDefault();
    if ($('#directions').text() === 'List Directions') {
      $('.directions-panel-container').css('width', '100%');
      $('.directions-panel-container').show().scroll();
      if ($(window).width() < 480) {
        $('.search-form-container').css('height', '100%');
      }
      $('#directions').html('Hide Directions');
    } else {
      if ($(window).width() < 480) {
        $('.search-form-container').css('height', 'auto');
      }
      $('.directions-panel-container').hide();
      $('#directions').html('List Directions');
    }
  });

  $('.search-form-container').on('click', '.nav-caret.fa-chevron-up', function(event) {
    event.preventDefault();
    $('form.search-form').slideUp();
    $('.nav-caret').removeClass('fa-chevron-up').addClass('fa-chevron-down');
    $('.controls-container').css('margin-top', '.5rem', 'margin-bottom', '.5rem');
  });

  $('.search-form-container').on('click', '.nav-caret.fa-chevron-down', function(event) {
    event.preventDefault();
    $('form.search-form').slideDown();
    $('.nav-caret').removeClass('fa-chevron-down').addClass('fa-chevron-up');
  });

  $(window).resize(function() {
    if ($(window).width() < 480) {
      $('.nav-caret').show();
    } else {
      $('.nav-caret').hide();
    }
  });


  $('.summary').hide();
});
</script>
