<div class="container">
  <%= render 'form' %>
  <ul>
    <li><%= button_to "Bikes", '/stations', method: "get", id:"bikes" %></li>
    <li><%= button_to "Docks", '/stations', method: "get", id:"docks" %></li>
    <li><%= button_to "Clear Stations", '/stations', method: "get", id:"clear" %></li>
  </ul>
</div>
<div id="map-canvas"></div>
