<div class="search-form-container">
  <%= render 'form' %>
  <ul>
    <li><%= button_to "Bikes", '/stations', method: "get", id:"bikes", class: "button-xsmall pure-button" %></li>
    <li><%= button_to "Docks", '/stations', method: "get", id:"docks", class: "button-xsmall pure-button" %></li>
  </ul>
  <div id="test">
  </div>
</div>
<div id="map-canvas"></div>
