@import "variables";

#infowindow {
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  padding: 1rem;
  position: fixed;
  opacity: 0.87;
  right: 1.5rem;
  top: 3rem;
  z-index: 10;
  margin: 0;
  height: auto;
  width: 350px;
  max-height: 80%;
  overflow: hidden;
  background-color: #fff;
}

.navigation {
  right: 1.5rem;
  color: #fff;
  max-width: 5rem;
  font-size: 12px;
  position: fixed;
  z-index: 10;
  top: .5rem;
  text-align: center;
  border: 2px solid black;
  padding: 1px;
}

#holinav {
  background-color: red;  
}

#homenav {
  background-color: $divvy-blue;  
}

.navigation a {
  text-decoration: none;
  color: #fff;
}

.infowindow-header img {
  width: 40px;
  border-radius: 10px;
}

.infowindow-header {
  padding-bottom: 10px;
  height: 35px;
}

.infowindow-body img {
  width: 200px;
}

.username {
  color: #406E94;
  top: -25px;
  position: relative;
  display: inline;
  padding-left: 10px;
}

.logo img {
  width: 75px;
}

.date {
  padding-left: 10px;
  position: relative;
  display: block;
  margin-left: 40px;
  top: -25px;
  color: red;
}

.infowindow-caption {
  max-width: 220px;

}