@import "variables";

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

#main-menu {
  background-color: #2c3e50;
}

#main-menu a {
  color: #fff;
}

#main-container {
  height: 100%;
  width: 100%;
}

#map-canvas {
  height: 100%;
  width: 100%; /* 65% after go button selected */
}

.search-form-container {
  background: #fff;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  padding: 1rem;
  position: fixed;
  opacity: 0.87;
  right: 1.5rem;
  top: 1.5rem;
  z-index: 10;
  margin: 0;
  height: auto;
  max-width: 300px;
  max-height: 80%;
  overflow: hidden;
}

.search-form input[type=text] {
  width: 300px;
}

.start-location {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
}

.controls-container {
  text-align: center;
}

.controls-container form {
  display: inline-block;
}

#bikes, #docks, #directions {
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.directions-panel-container {
  border-top: 1px solid lightgray;
  right: 0em;
  margin: 0 auto;
  overflow: auto;
  max-height: 400px;
  font-size: .8rem;
}

#directions-panel-0, #directions-panel-1, #directions-panel-2 {
  padding: 1rem;
  margin: 0;
  overflow: scroll;
}

.adp .adp-warnbox {
  display: none;
}

.adp .adp-legal {
  display: none;
}

.adp img.adp-marker {
  display: none;
}

td.adp-substep {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.zoom_to_current a {
  min-width: 1rem;
  min-height: 1rem;
  z-index: 20;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: white;
  background-color: #194775;
  border-radius: 50%;
  font-size: 20px;
  padding: .25rem .5rem;
}

.summary a {
  text-decoration: none;
  color: #194775;
}

.summary {
  display: inline;
  padding: 1rem;
  font-size: .7rem;
}

.trip_time {
  float: left;
  margin-left: 2rem;
}
.biking {
  float: right;
  margin-right: 2rem;
}

.start_station {
  padding: 1rem 0rem 0rem 0rem;
  text-align: left;
}
.end_station {
  margin: 1rem 0 0 0;
  text-align: left;
}

.station_data {
  background-color: #194775;
  border-radius: 10px;
  color: white;
  padding: .25rem;
  font-size: .5rem;
  float: right;
}

  /* iPhone */
@media screen and (max-width: 480px) {
  .search-form-container {
    background: #fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 10;
    height: auto;
    max-width: 100%;
    width: 100%;
    max-height: 900px;
    font-size: 90%;
    padding: 0;
    text-align: center;
  }

  #map-canvas {
    height: 100%;
    min-height: 0px;
    width: 100%; /* 65% after go button selected */
  }

  .search-form input[type=text] {
    width: 95%;
    font-size: 90%;
    padding: .4rem;
    margin: 0 auto;
    margin-top: .3rem;
  }

  .pure-form button[type=submit] {
    width: 95%;
    padding: .3rem;
  }

  .controls-container {
    text-align: center;
    height: auto;
    width: auto;
  }

  .controls-container form {
    display: inline-block;
  }

  #bikes, #docks, #directions {
    margin-bottom: .5rem;
    opacity: 100%;
    height: 5%;
    width: 100%;
    font-size: .9rem;
  }

  .zoom_to_current a {
  min-width: 1rem;
  min-height: 1rem;
  z-index: 2;
  position: absolute;
  bottom: 2rem;
  right: 1rem;
  color: white;
  background-color: #194775;
  border-radius: 50%;
  font-size: 20px;
  padding: .25rem .5rem;
  }

  .directions-panel-container {
    border-top: 1px solid lightgray;
    right: 0em;
    margin: 0 auto;
    overflow: scroll;
    max-height: 640px;
    height: 100%;
    font-size: .8rem;
  }

  .start_station {
    margin-left: .5rem;
  }
  .trip_time, .biking, .end_station {
    // font-size: 14px;
    padding: .5rem;
    text-align: left;
  }

  .summary {
    display: none;
    padding: 1rem;
    font-size: 1rem;
  }

}

