@import "variables";

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

nav {
  padding: 10px 0;
}

nav a {
  font-size: 1.3em;
}

ul {
  list-style-type: none;
}

ul li {
  float: left;
  margin: 0 auto;
}

#main-menu {
  background-color: #2c3e50;
}

#main-menu a {
  color: #fff;
}

#main-container {
  height: 100%;
  margin-top: 63px;
  width: 100%;
}

#map-canvas {
  height: 100%;
  width: 65%;
}

.search-form-container {
  background: #fff;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  margin-top: 60px;
  padding: 1rem;
  position: fixed;
  opacity: 0.85;
  right: 1.5rem;
  top: 3rem;
  z-index: 2;
}

.start-location {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
}

#bikes {
  margin-right: 10px;
}

.directions-panel-container {
  position: absolute;
  right: 0em;
  top: 63px;
  width: 35%;
  margin: 0 auto;
}

#directions-panel-0, #directions-panel-1, #directions-panel-2 {
  width: 90%;
  padding: 1rem;
  margin: 0;
}



